node_modules

# Output
.output
.vercel
.netlify
.wrangler
/.svelte-kit
/build
/out

# OS
.DS_Store
Thumbs.db

# Env
.env*
!.env
!.env.staging
!.env.production

# Vite
vite.config.js.timestamp-*
vite.config.ts.timestamp-*

/volume

# tailwind
/public/dist/
